/* Universal styles  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
:root {
    font-size: 16px;
    --main-color: #0d192c;
    --second-color:  #15263f;
    --third-color: #00fff8;
    --font-color: #6d8bb3;
    --heading-color: #ffffff;
    --font-family: 'Overpass', sans-serif;
    --heading-font: 'Send Flowers', cursive;
}

/* Main content */
body {
    background: var(--main-color);
    font-family: var(--font-family);
    color: var(--font-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    background: var(--second-color);
    width: 90%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 1.5rem;
    border-radius: 1rem;
}

.icon-container {
    display: flex;
    justify-content: space-between;
    padding-right: 1.6rem;
}
.eth-price{
    display: flex;
}

.eth-price p {
    color:var(--third-color);
    padding-left: .5rem;
}

.time {
    display: flex;
    align-items: center;
    color:var(--font-color);  
}

.time p {
    padding-left: .5rem;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-container span {
    color: var(--heading-color);
}

.footer-container span:hover,
.footer-container span:active {
    color: var(--third-color);
    cursor: pointer;
}

footer{
    position: relative;
    bottom: -1rem;
    color: hsl(228, 45%, 44%);
    font-size: 11px; 
    text-align: center;
}


/* Typography  */
h1 {
    color: var(--heading-color);
    font-size: 1.375rem;
    margin-bottom: .75rem;
}

h1:hover,
h1:active {
    color: var(--third-color);
    cursor: pointer;
}

p {
    font-size: 1.125rem;
}

.footer-container p, 
.icon-container p{
    font-size: .95rem;
}

/* Assets  */
img {
   max-width: 100%;
}

.hero {
    width: 100%;
    border-radius: 0.5rem;
}

.img-container {
    max-width: 90%;
    max-height: 82%;
    margin:1.5rem 0;
    border-radius: 0.5rem;
}

.img-container:hover,
.img-container:active {
    background-color:var(--third-color);
    z-index: 2;
    cursor: pointer;
}

.hero:hover,
.hero:active {
    opacity: .6;
    z-index: -1;
}

.avatar {
    height: 2rem;
    width: 2rem;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 25px;
    margin-right: 1rem;
}

/* Media queries  */

@media (min-width: 375px) {
    main {
        max-width: 22rem;
    }
    
    .img-container {
        max-height: 85%;
    }
}
